<ul class="list-group">
    <li class="list-group-item">
        <h2>{{ pessoas[0].titulo }}</h2>
        <h3>{{ pessoas[0].subtitulo }}</h3>
        <p>{{ pessoas[0].data }}</p></li>
    <li class="list-group-item">
        <h2>{{ pessoas[1].titulo }}</h2>
        <h3>{{ pessoas[1].subtitulo }}</h3>
        <p>{{ pessoas[1].data }}</p></li>
    <li class="list-group-item">
        <h2>{{ pessoas[2].titulo }}</h2>
        <h3>{{ pessoas[2].subtitulo }}</h3>
        <p>{{ pessoas[2].data }}</p></li>
</ul>