<ul class="list-group">
    <li class="list-group-item">
        <h2>Título</h2>
        <h3>Subtítulo</h3>
        <p>data</p></li>
    <li class="list-group-item">
        <h2>Título</h2>
        <h3>Subtítulo</h3>
        <p>data</p></li>
    <li class="list-group-item">
        <h2>Título</h2>
        <h3>Subtítulo</h3>
        <p>data</p></li>
    <li class="list-group-item">
        <h2>Título</h2>
        <h3>Subtítulo</h3>
        <p>data</p></li>
    <li class="list-group-item">
        <h2>Título</h2>
        <h3>Subtítulo</h3>
        <p>data</p></li>
</ul>