<ul class="list-group">
    <li class="list-group-item">
        <h2>{{ notifications[0].titulo }}</h2>
        <h3>{{ notifications[0].subtitulo }}</h3>
        <p>{{ notifications[0].data }}</p></li>
    <li class="list-group-item">
        <h2>{{ notifications[1].titulo }}</h2>
        <h3>{{ notifications[1].subtitulo }}</h3>
        <p>{{ notifications[1].data }}</p></li>
    <li class="list-group-item">
        <h2>{{ notifications[2].titulo }}</h2>
        <h3>{{ notifications[2].subtitulo }}</h3>
        <p>{{ notifications[2].data }}</p></li>
</ul>